.cart_container {
  padding-top: 2.5rem;
  padding-bottom: 20rem;
  width: 28.5rem;
  height: 80vh;
  height: 100vh;
  position: fixed;
  right: -28.5rem;
  top: 0;
  background-color: #1b1a20fd;
  transition: all 0.2s ease-in;
  @media all and (max-width: 768px) {
    width: 100%;
  }
}

#check {
  display: none;
}
.label1 {
  position: fixed;
  top: 0rem;
  right: 0rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75rem;
  width: 3.75rem;
  background-color: #1b1a20;
  font-weight: 300;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}
.label1 {
  transition: all 0.5s;
}

// empty cart
.empty_cart {
  width: 100%;
  padding: 2rem 5rem;
  text-align: center;
}
.add_in_cart {
  color: #ececec;
  font-weight: 400;
  padding-bottom: 1rem;
}
.smiley {
  font-weight: 400;
  color: #ececec;
}

#check:checked ~ .cart_container {
  right: 0;
  .labe2 {
    left: -2rem;
    @media all and (max-width: 768px) {
      position: absolute;
      top: .5rem;
      left: -.5rem;
      transition: transform 1s;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}
#check:checked ~ .subtotal_container {
  right: 0;
}
#check:checked ~ .label1 {
  right: -3.75rem;
}

.cart_item_count {
  color: #000;
  position: absolute;
  font-size: 0.65rem;
  height: 1.1rem;
  width: 1.1rem;
  font-weight: 500;
  border-radius: 50%;
  background-color: rgb(234, 191, 47);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0.4rem;
  right: 0.9rem;
}
.cart_item_count2 {
  bottom: 0.3rem;
}
.cart_logo_box {
  position: relative;
  width: 3.3rem;
  height: 3.3rem;
}
.cart_logo {
  width: 80%;
}
.cart_logo_text {
  color: #ececec;
  font-size: 1.1875rem;
  font-weight: 700;
}
.cart_logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem 0;
  padding-bottom: 2rem;
}
.labe2 {
  position: absolute;
  top: 0;
  right: -3.5rem;
  margin: 0 0.8rem;
  background-color: #1b1a20fd;
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
  text-align: center;
  color: #d8d8d8;
  font-size: 1.8rem;
  transition: all 0.3s;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.1);
    transform: rotate(360deg);
    color: #fff;
    cursor: pointer;
  }
  @media all and (max-width: 768px) {
    position: absolute;
    top: 0;
    right: 1rem;
  }
}

.hr_border {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #16151a;
}
.cart_items_container {
  padding: 1rem 1.3rem;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  justify-content: space-between;
}
.cart_left_container {
  display: flex;
  align-items: center;
  width: 80%;
}
.cart_img_container {
  width: 4rem;
}
.cart_item_img {
  width: 100%;
}

.cart_item_title {
  padding: 0.8rem;
  width: 80%;
}
.item_title_cart {
  font-weight: 400;
  line-height: 1.2rem;
  color: #ececec;
}
.item_type {
  line-height: 1.2rem;
  color: #5b5a5e;
}
.data_inc {
  display: grid;
  align-items: center;
  text-align: right;
  width: 20%;
}
.cart_item_price {
  margin: 0.9rem 0;
  color: rgb(234, 191, 47);
}
.cart_container_2 {
  position: relative;
}
.cart_all_items {
  position: relative;
}
.remove_item {
  top: 1.3rem;
  right: 1.3rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  z-index: 5;
  transition: all 0.2s;
  cursor: pointer;
  position: absolute;
}
.remove_item:hover {
  color: #fff;
}
.item_title_cart,
.item_type,
.cart_item_price {
  transition: all 0.2s;
}

.remove_item:hover ~ .cart_items_container {
  background-color: rgba(0, 0, 0, 0.5);
  .item_title_cart,
  .item_type,
  .cart_item_price {
    text-decoration: line-through;
    opacity: 0.7;
  }
}
.remove_item_btn,
.add_item_btn {
  background-color: #000000;
  font-size: 1rem;
  font-weight: 400;
  height: 1.5625rem;
  width: 1.5625rem;
  color: #b7b7b7;
  outline: none;
  cursor: pointer;
  border: none;
}
.remove_item_btn {
  background-color: rgba(0, 0, 0, 0.2);
}
.cart_item_remove {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  opacity: 0;
  cursor: pointer;
}
.cart_sub_container {
  position: relative;
  overflow-y: scroll;
  height: 57vh;
}
.checkout_btn {
  width: 100%;
  font-weight: 400;
  color: #ececec;
  font-size: 1rem;
  border: none;
  background-color: #0c0b10;
  text-align: center;
  padding: 0.9375rem 0;
  margin-top: 2.5rem;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  outline: none;
  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }
}

.subtotal_container {
  position: fixed;
  z-index: 10;
  right: 1rem;
  bottom: 0;
  right: -28.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 12.5rem;
  padding: 1.5rem;
  width: 28.5rem;
  background-color: #1b1a20;
  box-shadow: -1px -14px 37px -10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
  justify-content: space-between;
  @media all and (max-width: 768px) {
    width: 100%;
  }
}
.subtotal {
  font-size: 1rem;
  font-weight: 400;
  color: #5b5a5e;
}
.total {
  font-size: 1.375rem;
  color: rgb(234, 191, 47);
  font-weight: 400;
}
.sub_total {
  color: #5b5a5e;
  font-size: 0.8125rem;
  padding-top: 0.4rem;
  font-weight: 400;
}
.total_container {
  text-align: right;
}
