.sizes_container {
  width: 15%;
  @media all and (max-width:768px){
    width:90%;
    margin: 1rem auto;
    
  }
}

.size {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  font-size: 0.625rem;
  font-weight: 400;
  text-align: center;
  color: #1b1a20;
  background-color: #ececec;
  line-height: 2.1875rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    border: 1px solid rgba(0,0,0,.6);
  }
  @media all and (max-width:768px){
    html{
      font-size: 12px;
    }
    margin:0 .2rem;
  }
}
.sizes_text {
  margin-top: .5rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
  color: #1b1a20;
}
.all_sizes {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(4,1fr);
  @media all and (max-width:768px){
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.black{
  background-color: #1B1A20;
  color: #fff;
}
